# Logs
logs
*.log
npog*
yarn-error.log*
pnpm-debug.log*
lerna-debug.logm-debug.log*
yarn-debug.l*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
